@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body{
  background-color: #121212;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensures the content takes all the available space */
}
.App {
  text-align: center;
  flex: 1;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensures the content takes all the available space */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  height: auto;
  box-shadow: 0 0 10px #808ac7;
}

.file-content-container-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.file-content-table-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

button.upload-button {
  background: linear-gradient(45deg, #6a11cb 30%, #2575fc 90%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:  0 0 10px #141939;
}

button.upload-button:hover {
  background: linear-gradient(45deg, #2575fc 30%, #6a11cb 90%);
}

button.upload-button:disabled {
  background: linear-gradient(45deg, #2574fc4f 30%, #6b11cb61 90%);
  cursor: not-allowed;
}

.google-upload-button{
  background: linear-gradient(45deg, #6a11cb 30%, #2575fc 90%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:  0 0 10px #141939;
}

.google-upload-button:hover {
  background: linear-gradient(45deg, #2575fc 30%, #6a11cb 90%);
}

.google-upload-button:disabled {
  background: linear-gradient(45deg, #2574fc4f 30%, #6b11cb61 90%);
  cursor: not-allowed;
}

.download-button{
  background: linear-gradient(45deg, #6a11cb 30%, #2575fc 90%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:  0 0 10px #141939;
}

.download-button:hover {
  background: linear-gradient(45deg, #2575fc 30%, #6a11cb 90%);
}

.download-button:disabled {
  background: linear-gradient(45deg, #2574fc4f 30%, #6b11cb61 90%);
  cursor: not-allowed;
}

.container_process_req{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1e1e1e;
  border-radius: 8px;
  height: auto;
  border-radius: 8px;
  height: auto;
  box-shadow: 0 0 10px #808ac7;
}


.query-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  color: #ffffff;
}

.Result-display{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 30rem;
  color: #ffffff;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#input-query-box:disabled {
  cursor: not-allowed;
}

#select-main-column:disabled {
  cursor: not-allowed;
}

footer {
  margin-top: auto; 
  text-align: center;
  position: relative;
  width: 100%;
}