.file-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  padding: 0.2rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 0 10px #3a4169;
}

th {
  background-color: #1e1e1e;
}
